@keyframes noise-anim {
  0% {
    clip: rect(29px, 9999px, 54px, 0);
  }
  5% {
    clip: rect(82px, 9999px, 69px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 40px, 0);
  }
  15% {
    clip: rect(54px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(64px, 9999px, 75px, 0);
  }
  25% {
    clip: rect(8px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(18px, 9999px, 74px, 0);
  }
  35% {
    clip: rect(90px, 9999px, 11px, 0);
  }
  40% {
    clip: rect(47px, 9999px, 71px, 0);
  }
  45% {
    clip: rect(6px, 9999px, 24px, 0);
  }
  50% {
    clip: rect(95px, 9999px, 65px, 0);
  }
  55% {
    clip: rect(67px, 9999px, 82px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 43px, 0);
  }
  65% {
    clip: rect(92px, 9999px, 17px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 90px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 1px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 59px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 23px, 0);
  }
  95% {
    clip: rect(8px, 9999px, 47px, 0);
  }
  100% {
    clip: rect(74px, 9999px, 62px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(31px, 9999px, 45px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(30px, 9999px, 48px, 0);
  }
  15% {
    clip: rect(68px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 68px, 0);
  }
  25% {
    clip: rect(41px, 9999px, 43px, 0);
  }
  30% {
    clip: rect(24px, 9999px, 37px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(2px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 85px, 0);
  }
  55% {
    clip: rect(38px, 9999px, 42px, 0);
  }
  60% {
    clip: rect(18px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(97px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 26px, 0);
  }
  80% {
    clip: rect(55px, 9999px, 76px, 0);
  }
  85% {
    clip: rect(30px, 9999px, 65px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(40px, 9999px, 40px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 47px, 0);
  }
}

html {
  box-sizing: border-box;
  background-color: black;
  color: #49fe0d;
  overflow: hidden;
  font-family: monospace;
  height: 100%;
}

a {
  color: #49fe0d;
  border: 1px solid white;
  cursor: pointer;
}

.entrada {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
  height: 100vh;
  font-size: 1.2rem;
}

.ascii-container {
  width: 90ch;
}

.frases-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.glitch {
  color: #49fe0d;
  font-size: 50px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #49fe0d;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #49fe0d;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.sala-magritte {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.imagen {
  width: 300px;
  height: 400px;
  flex: 1 0 0;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.popup_container {
  position: fixed;
  top: 40%;
  right: 50%;
  width: 200px;
  height: 200px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #49fe0d;
  padding: 20px;
  background-color: black;
}

.hidden {
  display: none;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basura-container {
  height: 100vh;
  overflow: scroll;
}

.basic-container {
  height: 100vh;
  overflow: auto;
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  height: 200px;
  width: 200px;
}
.loader > div {
  height: inherit;
  width: inherit;
  position: absolute;
  animation-name: opacity;
  animation-duration: 1.1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  opacity: 0;
}
.loader > div > div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #49fe0d;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translate(50%, 0%);
}
.loader > div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: 0.7s;
}
.loader > div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: 0.8s;
}
.loader > div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: 0.9s;
}
.loader > div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: 1s;
}
.loader > div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 1.1s;
}
@keyframes opacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#contador-co2 {
  margin-top: 50px;
}

ascii-container {
  width: 90ch;
}
